      /* Add CSS styles for the grid layout */
      .product-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjust the number of columns as needed */
        gap: 20px; /* Adjust the gap between grid items */
      }

      .product-item {
        background-color: rgb(84, 121, 243);
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(173, 50, 50, 0.1);
        text-align: center;
        align-self: center;
      }

      .product-item:hover {
        background-color: rgb(44, 78, 190);
      }

      .centered {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .product-container {
        background-color: #2849a5;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(173, 50, 50, 0.1);
        align-items: right;
      }