      /* Add CSS styles for the grid layout */
      .product-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
        gap: 20px; /* Adjust the gap between grid items */
      }

      .product-item {
        background-color: rgb(141, 140, 147);
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        text-align: center;
      }